
<div class="container-fluid login-container" style="background-image: url('../../../assets/back.png'); background-repeat: no-repeat;background-size:cover;" >
  <div class="login-box">
    <div class="row position-relative">
      <!-- Section du formulaire -->
      <div class="col-md-6 form-section">
        <h1 class="title">Login</h1>
        <form [formGroup]="loginForm">
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. John.Doe@gmail.com" formControlName="email" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="" formControlName="password" required>
          </mat-form-field>

          <small class="forgot-password" (click)="openDialog()">Forgot your password?</small>

          <button class="login-btn "  mat-flat-button color="primary" [disabled]="!loginForm.valid" (click)="Login()">
            Login
          </button>
        </form>

        <p class="signup-text">
          Don't have an account?
          <a [routerLink]="['/SignUp']">Sign up</a>
        </p>
      </div>

      <!-- Section de l'illustration -->
      <div class="col-md-6 d-none d-md-block illustration-section position-absolute end-0 top-0   ">
        <img src="../../../assets/login.png" alt="Login Illustration" >
      </div>
    </div>
  </div>
</div>

