.view-profile-btn {
    background-color: #6c5ce7; /* Violet */
    color: white;
  }
  
  .accept-btn {
    background-color: #27ae60; /* Vert émeraude */
    color: white;
  }
  
  .decline-btn {
    background-color: #e74c3c; /* Rouge */
    color: white;
  }
  
  .sent{
    padding-top: 3%;
     height: 100vh;
  }

  @media (max-width: 1290px) {
    .sent{
      padding-top: 7%;
      
    }
  
  }

  @media (max-width: 900px) {
    .sent{
      padding-top: 10%;
      
    }
  
  }

  @media (max-width: 650px) {
    .sent{
      padding-top: 13%;
      
    }
  
  }

  @media (max-width: 470px) {
    .sent{
      padding-top: 22%;
      
    }
  
  }