


   <div class="row mt-3">
      <h2>✨ A Glimpse Into My World:</h2>
    
    <div class="col">
       {{ProfileById.bio}} 
    </div>
   </div>
   <mat-divider></mat-divider>

   <div class="row mt-3">
      <h2>🏢 Where I Build Dreams:</h2>
    
<div class="col">  
    {{ProfileById.workPlace}}

    </div>
   </div>
   <mat-divider></mat-divider>


   <div class="row mt-3">
    
    <h2>🎓 The Journey of Learning:</h2>
    
    <div class="col">
      {{ProfileById.study}} 
   </div>
   </div>
   <mat-divider></mat-divider>


   <div class="row mt-3">
    
    <h2>💞 Love & Life:</h2>
    
    <div class="col">
     {{ProfileById.situation}}
   </div>
   </div>
<mat-divider></mat-divider>
   <div class="row mt-3">
   
    <h2>🎉 Birthday Celebration:</h2>
    
    <div class="col" >
       {{ConvertDate( ProfileById.dateOfBirth)}} 
   </div>
   </div>

   <mat-divider></mat-divider>


