<div class="container-fluid text-center bg-body-secondary position-relative justify-content-center profile"  >
  
      
      
      <div class="row bg-light">
       
            <div class="cover-div">
              <button  class="cover bg-light" type="button" (click)="triggerFileInput('cover')">
               
                <img 
                  *ngIf="coverImage" 
                  [src]="getProfileImage(coverImage)"
          
                  alt="Photo de couverture" 
                  class="cover-image "
                />
              </button>
            </div>
          
            <input 
              type="file" 
              #coverInput 
              (change)="onFileSelected($event,'cover')" 
              accept="image/*" 
              style="display: none;"
            />
      </div>
     
      
      <div class="text-center bg-light mt-2">
        <div class="row">
       
          <div class="col-sm-3">
            <div class="d-flex flex-column align-items-center">
              <div class="camera-cercle">
                <button mat-mini-fab class="icon" type="button" (click)="triggerFileInput('profile')">
                  <img *ngIf="profileImage" [src]="getProfileImage(profileImage)" alt="Photo de profil" class="profile-image"/>
                </button>
              </div>
              <input type="file" #profileInput (change)="onFileSelected($event, 'profile')" accept="image/*" style="display: none;" />
              <div class="my-3 text-start fs-5 fw-bold">
                {{ ProfileById.firstName }} {{ ProfileById.lastName }}
              </div>
            </div>
          </div>
      
       
          <div class="col-sm-9 ">
            <div class="row py-1 py-sm-5 py-md-1">
              
      <div class="col d-none d-md-block"></div>
             
              <div class="col-9 col-md-7 ps-sm-5 ps-2 py-md-5 pb-3 ">
                <button mat-fab extended class="text-white bg-primary" (click)="openDialogEdit(ProfileById)">
                  <i class="bi bi-pen fs-3 text-white"></i> Edit your profile
                </button>
              </div>
      
              
              <div class="col-1 col-md-1 py-md-5 pb-3 ">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="after">
                  <button mat-menu-item (click)="OpenDialogDeleteAccount('account')">
                    <mat-icon>warning</mat-icon>
                    <span>Delete Account</span>
                  </button>
                  <button mat-menu-item (click)="OpenDialogEditPassword()">
                    <mat-icon>lock</mat-icon>
                    <span>Edit password</span>
                  </button>
                  <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Log Out</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      

    <div class="row mt-3 bg-light">
      <div class="col-md-4 col-12  border-bottom border-md-end border-5 border-body-secondary" >
        <app-about   [ProfileById]="ProfileById" ></app-about>
        
        <div class="row mt-3 px-2">
          <h2> <i class="fa fa-users"></i> Friends</h2>
          <div class="col-4" *ngFor="let friend of Friends">
            <img src="https://miro.medium.com/v2/resize:fit:2400/2*Ip34iu-upqis6XbBVK3ARA.jpeg" class="rounded" style="width: 100px; height: 120px;" alt="">
          <p class="fw-bold">{{friend.firstName}} {{friend.lastName}}</p>
          </div>
         
          
        </div>
      </div>
      <div class="col-md-8 col-12   border-start border-md-start border-md-2 border-5 border-body-secondary">
      

       <div class="row border-bottom border-body-secondary border-2 ">
          <div class="col-1 ">
            <div class="d-flex justify-content-center my-2">
              <div class="rounded-circle" style="width: 50px; height: 50px; overflow: hidden; background-color: #f0f0f0;">
                <img src="https://miro.medium.com/v2/resize:fit:2400/2*Ip34iu-upqis6XbBVK3ARA.jpeg" alt="" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
              </div>
            </div>
            
          </div>
          <div class="col-11 py-2 mt-2 px-4">
            <button class="bg-secondary-subtle button_post" mat-raised-button extended (click)="openDialog()" >Go ahead and share your thoughts—your voice matters!</button>
          </div>
       
        </div>
    
    
        <app-posts [postsbyId]="postsbyId"></app-posts>
      </div>
    </div>
    </div>

   




