
<div class="row ">
<div class="d-flex justify-content-center m-2 p-2">
  <div class="rounded-circle border border-black border-2 " style="width: 150px; height: 150px; overflow: hidden; background-color: #f0f0f0;">
    <img src="https://miro.medium.com/v2/resize:fit:2400/2*Ip34iu-upqis6XbBVK3ARA.jpeg" alt="" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
  </div>
 
</div>
<h3 class="fw-bold">{{profileById.firstName}}  {{profileById.lastName}}</h3>

<small class="fs-6 p-3">{{profileById.bio}}</small>
</div>
<div class="row  text-start position-absolute bottom-0">

<mat-list >
    <mat-list-item >
      <mat-icon matListIcon>group</mat-icon>
     <span class="fs-5"> Friends : {{profileById.friends}} </span></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListIcon>post_add</mat-icon>
      <span class="fs-5"> Posts : {{profileById.posts}}</span></mat-list-item>
    <mat-divider></mat-divider>
    
    <mat-list-item  (click)="navigateToChat()" style="cursor: pointer;">
      <mat-icon matListIcon>chat</mat-icon>
      
      <span class="fs-5"> Chats : {{profileById.chats}}</span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="navigateToSent()" style="cursor: pointer;">
        <mat-icon matListIcon matBadge="15">outgoing_mail</mat-icon>
        
        <span class="fs-5"> Sent Invitations :{{profileById.sentRequests.length}}</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item  (click)="navigateToReceived()" style="cursor: pointer;">
          
          <mat-icon matListIcon matBadge="15">mark_email_read</mat-icon>
          
          <span class="fs-5"> Received Invitations :{{profileById.receivedRequests.length}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item  (click)="navigateToBlocked()" style="cursor: pointer;">
          
            <mat-icon >lock</mat-icon>
            
            <span class="fs-5">  Blocked
:{{profileById.blockedUsers}}</span></mat-list-item>

  </mat-list>
</div>