<h2 mat-dialog-title class="text-center">Update Your Password</h2>
<mat-dialog-content class="text-center"style="width: 400px;">
    <form class="example-form" [formGroup]="editPassword">
        <mat-form-field class="example-full-width">
          <mat-label>Current Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width mt-4">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPassword">
          </mat-form-field>
      
          <br>
          <mat-form-field class="example-full-width mt-4">
            <mat-label>Confirm New Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
          </mat-form-field>
      </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="Edit()" [disabled]="editPassword.invalid ||  !ConfirmPassword() ">Edit</button>
</mat-dialog-actions>

