<div class="container  " >
    <div class="row" style=" border-radius: 10px; box-shadow: 0px 0px 50px 20px rgb(190, 190, 190); height: 90vh; margin-top: 5vh;">
     
        <div class="col-md-6" style=" margin-top: 2vh;">
            <div >
                <img src="../../../assets/signup.png" alt="">
            </div>
        </div>
       
        <div class="col-md-6 text-center">
            <div class="  text-center  " >
                <h1 class="text-center" style="font-weight: bold;  margin-left: -90px;">Sign up</h1>
                <form class="example-form" [formGroup]="SignUpForm" >
                    <mat-form-field class="example-full-width">
                      <mat-label>FirstName</mat-label>
                       <input matInput placeholder="Ex. John" formControlName="firstName" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>LastName</mat-label>
                        <input matInput placeholder="Ex. Doe" formControlName="lastName" required>
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-label>Date of birth</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
                      
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      
                      
                      <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Ex. John.Doe@gmail.com" formControlName="email" required>
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="" formControlName="password" required>
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input type="password" matInput placeholder="" formControlName="confirmPassword" required>
                      </mat-form-field>
                      
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="acceptCondition" required>
                        <small class="form-check-label" for="flexCheckDefault">
                            I agree to create an account and register on this platform.
                        </small>
                      </div>
                      <div class="example-flex-container "style="margin-top:5px;">
                        <div class="example-button-container">
                          <button  style="background-color: rgb(34, 53, 224); color: white;" mat-fab extended [disabled]="!SignUpForm.valid || !ConfirmPassword() " (click)="SignUp()">
                            
                            CREATE ACCOUNT
                          </button>
                        </div>
                        </div>
                  
                   
                  </form>
                  <h4 style="margin-top:10px; margin-left: -130px;">Already have an account ? <a style="cursor: pointer;" [routerLink]="['/Login']">Sign in</a></h4>
                  
              
            </div>
        </div>
    </div>
</div>