<div style="width: 500px; height: 600px;">
<h2 mat-dialog-title class="text-center border">Post Something Awesome</h2>

<mat-dialog-content >
    <div class="row">
        <div class="col-2">
            <div class="d-flex justify-content-center m-2">
                <div class="rounded-circle" style="width: 50px; height: 50px; overflow: hidden; background-color: #f0f0f0;">
                  <img src="https://miro.medium.com/v2/resize:fit:2400/2*Ip34iu-upqis6XbBVK3ARA.jpeg" alt="" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
        </div>
    
        <div class="col-10 text-left mt-2">
           <div class="row"> FirstName and LastName</div>
           <div class="row"><h5>date </h5>
          

        </div>
    </div>
    </div>
    <div class="row mt-4">
        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." style="height: 90px;"></textarea>
          </mat-form-field>
    </div>
    <div class="row border border-secondary-subtle rounded m-1 text-center" style="height: 200px;">
        <h1 class="text-center p-4 mt-5">Showcase Your Creativity</h1>
       
    </div>
</mat-dialog-content>
<div class="example-button-container text-center" >
    <button mat-fab extended routerLink="." style="background-color: rgb(57, 57, 202); color: white; width: 200px;">
    
      Link
    </button>
  </div>
</div>
