

  
  .nav-link:hover {
  
    color: #4328f3; /* Facultatif : changer la couleur du texte au survol */
  }
  .button_post{
    width: 100%;
    height: 40px;
   // background: #e4e3e3;
    border-radius: 30px;
   // padding: 0 10px;
   // margin-left: 10px;
    position: relative;
    left: 0;
  }