<!--Navbar -->
<div class="container-fluid text-center bg-body-secondary ">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacts</a>
              </li>
             
            
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2 mt-2"style="width: 500px; font-size:13px; height:40px" type="search" placeholder="Search" aria-label="Search">
            
              <button mat-fab extended style="background-color: rgb(61, 55, 237); color: white;">
                <mat-icon  >search</mat-icon>
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>



    <div class="row">
      <!--statistics-->
      <div class="col bg-light mt-1 m-4 rounded">
       <app-statistics></app-statistics>
      </div>
       <!-- Posts-->
       <div class="col-6 bg-light mt-1 m-4 rounded ">
        <div class="row m-4 justify-content-md-center" >
          <div class="bg-body-secondary rounded ">
            <div class="row">


              <div class="col-2 ">
                <div class="d-flex justify-content-center m-2">
                  <div class="rounded-circle" style="width: 50px; height: 50px; overflow: hidden; background-color: #f0f0f0;">
                    <img src="https://miro.medium.com/v2/resize:fit:2400/2*Ip34iu-upqis6XbBVK3ARA.jpeg" alt="" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>
                
              </div>
              <div class="col-10 p-2 mt-2">
                <button mat-raised-button extended (click)="openDialog()" >Go ahead and share your thoughts—your voice matters!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row bg-body-secondary rounded m-4" style="height: 70vh; overflow-y: auto; width: 96%; overflow-x: hidden;">
        <app-posts></app-posts>
        </div>
       </div>
       <!--Contacts-->
       <div class="col bg-light mt-1 m-4 rounded" style="height: 85.5vh; overflow-y: auto;">
        <app-chats></app-chats>
      </div>
    </div>
</div>
