<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
          <img src="../../../assets/logo_bondly.png" alt="" style="width:100px; height: 50px;">
       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-3 text-center ml-4">
        
          <li class="nav-item">
            <a class="nav-link  fs-2 fw-bold" aria-current="page" [routerLink]="['/home/dashboard']">Home</a>
          </li>
          <li class="nav-item fs-2 fw-bold">
            <a class="nav-link" [routerLink]="['/home/profile']">Profile</a>
          </li>
          <li class="nav-item fs-2 fw-bold">
            <a class="nav-link" [routerLink]="['/home/contacts']">Contacts</a>
          </li>
        
         
        
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 mt-2"style="width: 500px; font-size:13px; height:40px" type="search" placeholder="Search" aria-label="Search">
        
          <button mat-fab extended style="background-color: rgb(61, 55, 237); color: white;">
            <mat-icon  >search</mat-icon>
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
